.header {
  background-color: #333;
  color: #fff;
  padding: 2vh 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1200px */
  /* margin: 0 auto; */
  padding: 0 1rem;
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff9900;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links a {
    padding: 1rem;
    text-align: center;
  }
}
